
@media screen and (max-width: 736px) {

}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position: fixed;
    margin-left: 350px;
    
}
li a {
    color: #160181;
     background-color: #0c033d4d; 
     padding: 20px;
     margin: -20px;
     background-color: rgb(185, 219, 250);
    
}

body {
    background-color: rgb(185, 219, 250);
    color: #160181;
    font-family: "Montserrat", sans-serif;
}
section {
   margin: 2rem;
   padding: 2rem; 
}
h2 {
    font-size: 1.5rem;
    color: #0c033d4d;
    font-weight: bold;
}
#about {
    margin: 2rem;
    padding: 1.5rem;
    background-color: lightgray; 
}
#experience {
    margin: 2rem;
    padding: 1.5rem;
    background-color: lightgray;
}
#leave_message {
    display: flex;
    border: 1px solid #000;
    background: cornsilk;
    
}
.form {
    justify-content: space-between;
    background-color: lightgray;
    ;
}

li {
    margin: 2rem;
    padding: 1.5rem;
    background-color: lightgray;  
}
label {
    font-size: 1.5rem;
    color: #160181;
}
input {
    font-size: 1.5rem;
    padding: 2rem;
    margin: 4rem;
}
textarea {
    font-size: 1.5rem;
    padding: 2rem;
    margin: auto; 
}
#submit {
    font-size: 1rem;
    color: cornsilk;
    border-radius: 2rem;
    padding: .5rem;
    background-color: #160181;
}
footer {
    margin: 2rem;
    background-color: blanchedalmond;
}
.remove {
    background-color: #160181; 
}