html{
    
    
 }
 body {
    margin: 0;
    padding: 0;
    color: rgb(76, 58, 141);
    background: linear-gradient(white, rgb(241, 147, 92));
    text-align: center;
    font-family: Georgia;
    font-size:xx-large;
}


section {
   padding-top: 30px;

} 

h1, h2 {
   font-size: 50px;
   font-weight: bold;
   color: rgb(6, 78, 66);


}
li {
   list-style-type: none;
}
#container {
   display:flex;
	flex-wrap:wrap;
	justify-content:space-around;

   /*background-color: blue; It gives color to the background of the block*/
}
.containerdiv {
   background-color: rgb(119, 119, 243);  
   min-width: 100px;
   margin: 20px;
}
input {
   font-size: 60px;
   margin-bottom: 2rem;
  padding: 10px;
}

label {
   color: black;
   font-size:x-large;
   
}

textarea {
   font-size: 80px ;
   padding: 50px;
   border-top: cornflowerblue;
   border-bottom-color: cornflowerblue;
   border-left-style: dashed;
   border-right-style: rgb(70, 26, 192);
   border-width: 50px;
}
button {
   font-size: 50px;
   padding: auto;
   background-color: ;
}
.menu {
display: flex;
}
@media (max-width: 1000px) {
header{
background-color: rgb(219, 247, 191);
 }
h2 {
   font-size: 30px;

}

}
@media (max-width: 500px) {

 button{
    font-size: 50px;
 };

}
