
@media screen and (max-width: 736px) {

}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(185, 202, 250); 
    color: #160181;
    font-family: "Montserrat", sans-serif;
}
.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 40%;
    background: none;
    
}
.menu li {
    padding: 0;
    margin: 0;
}
nav {
    display: flex;
    justify-content: center;
}
a { 
    color: #160181;
     text-decoration: none;
    
}
.background {
   background-image: url("../images/Version 2.jpg");
   background-size: cover;
   text-align: center;
   padding-top: 100px;
}
.mypicture {
  object-fit: cover;
  border-radius: 50%;
  height: 300px;
  width: 300px;
 
}
.myname {
    /* color: rgb(250, 164, 114); */
    color: #faa472;
    text-shadow: 
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #faa472,
        0 0 82px #faa472,
        0 0 92px #faa472,
        0 0 102px #faa472,
        0 0 151px #faa472;

    font-family: 'Rock Salt', cursive;
    font-size: 65px;
}

section {
   margin: 2rem;
   padding: 2rem; 
}
h2 {
    font-size: 1.5rem;
    color: #0c033d4d;
    font-weight: bold;
    font-family: 'Rock Salt', cursive;
}
#about {
    padding: 1.5rem; 
    font-size: 20px;
    font-family: 'Rock Salt', cursive;
}
#experience li {
    display: flex;
    margin: 2rem;
    padding: 1.5rem;
    background-color: #fad3c1;
    
}
#skills li {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid #160181;
    padding: 6px;
    background-color: #fad3c1;


}

}
 #leave_message { 
    display: flex;
    border: 1px solid #000;
}
form { 
    display: flex; 
}


li {
    margin: 10px;
    padding: 1.5px;
}
label {
    font-size: 15px;
    color: #160181;
}

input {
    font-size: 15px;
    padding: 2px;
    margin: 6px;
}

textarea {
    font-size: 15px;
    padding: 2px;
    margin: 6px; 
}

#submit {
    font-size: 1rem;
    border-radius: 2rem;
    padding: .5rem;
    background-color: #160181;
    color: white;

}
.remove {
    background-color: red;
    color: white;
    margin-left: 25px;
}

footer {
    margin: 2rem;
    background-color: #fad3c1;
}
#messages li {
    display: flex;
    border: 1px solid #000; 
    background-color: #fad3c1;
    padding-left: 15px;
}

