
/*Header (start)*/

.main_name {
    margin-right: auto;
}


li, a, button {
    color: #545479;
    text-decoration: none;
    cursor: pointer;
}



header {
    font-family: 'Roboto Condensed', sans-serif;   
    margin: 0;
    padding: 3px 4%;
    background-color: #f3cbb6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.list_sections > li {
    list-style: none;
    display: inline-block;
    padding: 0px 15px;

}

.list_sections li a {
    transition: all 0.3s ease 0s;
}

.list_sections li a:hover {
    color:blue
}

.btn_head {
    padding: 9px 25px;
    background-color: whitesmoke;
    border:none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    margin-left: 20px;

}

/* header end*/

body {
 background-color: #befdeb;
 color: #545479;

}

.margin {
  margin-left: 50px;
}

.all_heading {
 font-size: 30px;
 font-weight: bold;
 color: #FA844B;

}


.boxes {
    border:#545479 0.5px solid;
    border-right: none ; 
    padding: 5px; 
    margin-bottom: 10px;
  
}

.b2 {
    border-left: none ;
    border-right: #545479 0.5px solid ;
}


#skills > ul > li {
    border: black solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin: 10px;
    width: 100px;
}

#skills > ul {
  display: flex;
  width: 100%;
  justify-content: left;
  padding: 0

}

.labels {
    font-size: 18px;
    color: #FA844B;
    font-family: sans-serif;
}

input {
    font-family: sans-serif;
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 1px;
    width: 200px;
}

textarea {
    font-family: sans-serif;
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 1px;
    width: 200px;
}

label {
 width: 100px;
 display: inline-block;
 padding: 10px;
 margin-block: 15px;
}

.submit-button {
    width: 100px;
    height: 25px;
    border: none;
    color: #545479;
    background-color: white;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 hsl(20, 74%, 85%);
    transition: ease-in-out 0.1s;
    outline: none;
    margin-left: 125px;
}

.submit-button:hover {
    box-shadow: inset 100px 0 0 0 hsl(20, 74%, 85%); 
    cursor: pointer;
    color: black;
}

.message-block > ul > li > button {
   display: flex;
   flex: 1;
   border: none;
   color: #545479;
   background-color: white;
   border-radius: 4px;


}

/* Experience FlexBox container
.container {
   border-color: black;
   border-width: 5px;
   border-style: inset;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;


}

*/

/* Experience FlexBox container*/

.experience_cont {
    display: flex;
    justify-content:space-between; 
}

.work_expe {
   flex: 1;
   flex-direction: column;
   

}

.dates {
    display: flex;
    flex-direction: column;
    
    

}